# === App ===
APP_NAME=VitalBite Backend IA
APP_VERSION=0.2.0
DEBUG=true
HOST=0.0.0.0
PORT=8001
API_V1_PREFIX=/api/v1

# === CORS ===
CORS_ORIGINS=http://localhost:3000,http://localhost:8081,http://localhost:4200

# === Seguridad ===
API_KEY=vitalbite_ia_secret_key_dev_change_in_prod

# === Comunicación con Core NestJS ===
CORE_SERVICE_URL=http://localhost:3000
CORE_GRAPHQL_URL=http://localhost:3000/graphql
INTERNAL_TOKEN=internal_service_token

# === Machine Learning ===
MODELS_DIR=app/models/artifacts
MIN_PATIENTS_FOR_KMEANS=10
RF_RISK_THRESHOLD_HIGH=0.70
RF_RISK_THRESHOLD_MEDIUM=0.40

# === OCR / Deep Learning ===
OCR_MIN_CONFIDENCE=0.60
IMAGE_MAX_SIZE_MB=5
DL_MODEL_PATH=app/models/artifacts/food_classifier.h5
